::-webkit-scrollbar {
  display: none;
}

:root {
  --height: 4vh;
  --width: auto-fill;
}

html {
  font-size: 1.8vw;
}

.hr {
  border-left: 2px solid white;
  height: 7%;
  margin-left: auto-fit;
  margin-right: auto-fit;
  border-radius: 10px;
}

.hr2 {
  border-left: 3px solid gray;
  height: 30%;
  margin-left: auto-fit;
  margin-right: auto-fit;
  border-radius: 10px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(28, 28, 28);
  margin: 0%;
  padding: 0%;
  user-select: none;
}

.header {
  user-select: none;
  height: 10vh;
  width: 100vw;
  background-color: rgb(10, 10, 10);
  color: rgb(200, 200, 200);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
  padding-top: 5px;
}

.header div {
  align-items: center;
  justify-items: center;
  display: flex;
}

.header div img {
  width: 80px;
  height: 60px;
}

.main {
  flex: 1;
}
.container {
  width: 100vw;
  display: flex;
  height: 90vh;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  background-color: #202020;
  position: relative;
}

.controls-line {
  margin-top: 3%;
  display: flex;
  width: 100vw;
  height: 10px;
  position: absolute;
  align-items: center;
  justify-content: center;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3vh;
}
.controls button {
  padding: 0.1rem 0.7rem;
  font-size: 0.7rem;
}

.mobile-button {
  display: none;
}

@media (max-width: 768px) {
  .controls {
    flex-direction: column;
    align-items: center;
  }

  .controls .buttons,
  .controls .buttons2,
  .controls .buttons3 {
    display: none;
  }
  .controls .mobile-button {
    font-size: 1.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--width);
    height: var(--height);
    min-height: var(--height);
    max-height: var(--height);
    padding-left: 10px;
    padding-right: 10px;
    background-color: #404040;
    color: white;
    border-radius: 15vw;
    box-shadow: 0em 0em 0.8em white;
    cursor: pointer;
    text-align: center;
  }
}

.controls button:hover {
  transition:ease 0.1s;
  /* transition: background 0.125s, color 0.125s, opacity 0.125s; */
  color: rgb(191, 125, 252);
  transform: scale(1.1);
}

/* .container * {
  font-size: 1.8vw;
} */

.buttons {
  font-size: 1rem;
  width: var(--width);
  height: var(--height);
  min-height: var(--height);
  max-height: var(--height);
  padding-left: 5px;
  padding-right: 5px;
  background-color: #404040;
  color: white;
  display: flex;
  align-items: center;
  border-radius: 15vw;
  justify-content: center;
  box-shadow: 0em 0em 0.8em white;
}

.buttons button,
.buttons2 button,
.buttons3 button {
  cursor: pointer;
  border: none;
  color: white;
  background-color: transparent;
}

.typing-area {
  margin-top: 17vh;
  background-color: #404040;
  width: 90vw;
  height: 8em;
  border-radius: 2.5vw;
  border-width: 2px;
  border-style: black;
  display: flex;
  position: relative;
  align-self: baseline;
  align-items: center;
  cursor: text;
  user-select: none;
  box-shadow: 0em 0em 1em white;
  margin-bottom: 3em;
}

.typing-lines {
  overflow: auto;
  height: 100%;
  width: 100%;
  /* margin-top: 15px;
  margin-bottom: 15px; */
  margin-left: 25px;
  margin-right: 25px;
  font-size: 1.6rem;
  color: white;
  line-height: 150%;
}

/* .footer {
  position:;
  height: 10vh;
  width: 100%;
  background-color: rgb(20, 20, 20);
  color: rgb(200, 200, 200);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer pre{
  font-size: 20px;
  color: white;
}

.footer a {
  text-decoration: underline;
  color: gray;
} */
.highlight {
  color: red; /* Or any color you want for the highlighted letter */
}
.word {
  margin: 0.5%;
  display: inline-flex;
}
.letter {
}
.reset {
  width: 2rem;
  height: 2rem;
  margin-top: 52vh;
  display: flex;
  align-items: center;
  position: absolute;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}
.reset button:hover {
  cursor: pointer;
}
.reset button {
  font-size: 0.8rem;
  height: 100%;
  width: 100%;
  border-style: none;
  border-radius: 15vw;
  background-color: #404040;
  align-items: center;
  color: white;
  justify-content: center;
  display: flex;
  box-shadow: 0em 0em 1em white;
}

.reset :hover {
  transition:ease 0.1s;
  color:rgb(191, 125, 252);
  transform: scale(1.1);
  background: #404040;
}

@media (max-width: 768px) {
  .reset {
    width: 2rem;
    height: 2rem;
    margin-top: 25vh;
  }
  .typing-area {
    margin-top: 10vh;
  }
}
