.header {
  user-select: none;
  height: 10%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: var(--space-xs);
  padding-top: var(--space-2xs);
  margin-left: 5%;
  margin-right: 5%;
  overflow: hidden;
  overflow-x: hidden;
}

.header div {
  display: flex;
  align-items: center;
  justify-items: center;
}

.header div img {
  width: clamp(50px, 10vw, 80px);
  height: auto;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;
}

.header div img:hover {
  opacity: 0.6;
}

.header div h1 {
  font-size: var(--font-2xl);
  margin-left: var(--space-lg);
  white-space: nowrap;
  overflow: hidden;
  max-width: 0;
  display: flex;
  transition: max-width 0.7s ease-in-out, opacity 0.7s ease-in-out;
  opacity: 0;
}

.header div img:hover + h1 {
  max-width: 30rem;
  opacity: 1;
}

.hsbtns,
.hebtns {
  padding: var(--space-sm) 0;
  display: flex;
  align-items: center;
}

.hsbtns {
  margin-left: var(--space-xs);
  flex-grow: 1;
}

.hsbtns button,
.hebtns button {
  border: none;
  background-color: transparent;
  color: var(--dtext);
  width: clamp(2rem, 4vw, 3rem);
  height: clamp(2rem, 4vw, 3rem);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0;
}

.hebtns {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
}

.hsbtns button:hover,
.hebtns button:hover {
  color: var(--text);
  transform: translateY(0);
  transform: translateX(0);
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

.hsbtns button:active,
.hebtns button:active {
  color: var(--dtext);
  transform: translateY(0);
  transform: translateX(0);
  transform: scale(0.90);
  transition: all 0.2s ease-in-out;
}

.icon-container i {
  pointer-events: none;
  font-size: var(--icon-size-sm);
}

.icon-container i:hover,
.icon-container i:active {
  transform: scale(1);
  transform: translateY(0);
  transform: translateX(0);
}

/* THEME TOGGLE BUTTON */
#theme-toggle {
  border: none;
  border-radius: var(--radius-sm);
  padding: var(--space-sm);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  transform: translateZ(0);
}

#theme-toggle:hover {
  transform: scale(1.1);
  color: var(--text);
  transition: all 0.2s ease-in-out;
}
