@{
    Layout = "_Layout";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Leaderboard.css" />
    
}  
 
  <section class="main">
      <div class="screen">
        <div class="container">
          <div class="containerhead">
            <div class="left-group">
              <span class="title">All Time Leaderboard</span>
              <span class="span">next update:</span>
            </div>
            <div class="filters">
              <div class="buttons">
                <button>All Time</button>
                <button>Daily</button>
              </div>
              <select name="languages">
                <option>English</option>
                <option>Spanish</option>
                <option>Italian</option>
              </select>
            </div>
          </div>
          <div class="lists">
            <div class="llist">
              <table>
                <caption>
                  Time 15
                </caption>
                <tr>
                  <th class="col1"><i class="fas fa-fw fa-hashtag"></i></th>
                  <th class="col2">Name</th>
                  <th class="col3">WPM</th>
                  <th class="col4">Date</th>
                </tr>
                <tr>
                  <td class="col1"><i class="fas fa-fw fa-crown fa-lg"></i></td>
                  <td class="col2">usename</td>
                  <td class="col3">250</td>
                  <td class="col4">2024/12/12</td>
                </tr>
                <tr>
                  <td class="col1">2</td>
                  <td class="col2">usename1</td>
                  <td class="col3">240</td>
                  <td class="col4">2024/12/11</td>
                </tr>
                <tr>
                  <td class="col1">3</td>
                  <td class="col2">usename2</td>
                  <td class="col3">230</td>
                  <td class="col4">2024/12/10</td>
                </tr>
                <tr>
                  <td class="col1">4</td>
                  <td class="col2">usename3</td>
                  <td class="col3">220</td>
                  <td class="col4">2024/12/9</td>
                </tr>
                <tr>
                  <td class="col1">5</td>
                  <td class="col2">usename4</td>
                  <td class="col3">210</td>
                  <td class="col4">2024/12/8</td>
                </tr>
                <tr>
                  <td class="col1">6</td>
                  <td class="col2">usename5</td>
                  <td class="col3">200</td>
                  <td class="col4">2024/12/7</td>
                </tr>
                <tr>
                  <td class="col1">7</td>
                  <td class="col2">usename6</td>
                  <td class="col3">190</td>
                  <td class="col4">2024/12/6</td>
                </tr>
                <tr>
                  <td class="col1">8</td>
                  <td class="col2">usename7</td>
                  <td class="col3">180</td>
                  <td class="col4">2024/12/5</td>
                </tr>
                <tr>
                  <td class="col1">9</td>
                  <td class="col2">usename8</td>
                  <td class="col3">170</td>
                  <td class="col4">2024/12/4</td>
                </tr>
                <tr>
                  <td class="col1">10</td>
                  <td class="col2">usename9</td>
                  <td class="col3">160</td>
                  <td class="col4">2024/12/3</td>
                </tr>
              </table>
            </div>
            <div class="rlist">
              <table>
                <caption>
                  Time 60
                </caption>
                <tr>
                  <th class="col1"><i class="fas fa-fw fa-hashtag"></i></th>
                  <th class="col2">Name</th>
                  <th class="col3">WPM</th>
                  <th class="col4">Date</th>
                </tr>
                <tr>
                  <td class="col1"><i class="fas fa-fw fa-crown fa-lg"></i></td>
                  <td class="col2">usename</td>
                  <td class="col3">150</td>
                  <td class="col4">2024/12/12</td>
                </tr>
                <tr>
                  <td class="col1">2</td>
                  <td class="col2">usename1</td>
                  <td class="col3">140</td>
                  <td class="col4">2024/12/11</td>
                </tr>
                <tr>
                  <td class="col1">3</td>
                  <td class="col2">usename2</td>
                  <td class="col3">130</td>
                  <td class="col4">2024/12/10</td>
                </tr>
                <tr>
                  <td class="col1">4</td>
                  <td class="col2">usename3</td>
                  <td class="col3">120</td>
                  <td class="col4">2024/12/9</td>
                </tr>
                <tr>
                  <td class="col1">5</td>
                  <td class="col2">usename4</td>
                  <td class="col3">110</td>
                  <td class="col4">2024/12/8</td>
                </tr>
                <tr>
                  <td class="col1">6</td>
                  <td class="col2">usename5</td>
                  <td class="col3">100</td>
                  <td class="col4">2024/12/7</td>
                </tr>
                <tr>
                  <td class="col1">7</td>
                  <td class="col2">usename6</td>
                  <td class="col3">90</td>
                  <td class="col4">2024/12/6</td>
                </tr>
                <tr>
                  <td class="col1">8</td>
                  <td class="col2">usename7</td>
                  <td class="col3">80</td>
                  <td class="col4">2024/12/5</td>
                </tr>
                <tr>
                  <td class="col1">9</td>
                  <td class="col2">usename8</td>
                  <td class="col3">70</td>
                  <td class="col4">2024/12/4</td>
                </tr>
                <tr>
                  <td class="col1">10</td>
                  <td class="col2">usename9</td>
                  <td class="col3">60</td>
                  <td class="col4">2024/12/3</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>