@import 'tailwindcss';

@source '../views/**/*.blade.php';
@source '../ts/**/*.ts';
@source '../ts/**/*.tsx';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: 'Lexend Deca', ui-sans-serif, system-ui, sans-serif;
}

:root {
  color-scheme: dark;
}

html,
body,
#app {
  min-height: 100%;
}
