@{
    Layout="_Layout";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Profile.css" />
    
}  

<section class="main">
      <div class="container">
        <div class="personalinfo">
          <div class="pp">
            <i class="fa-solid fa-circle-user"></i>
          </div>
          <span class="span1">USERNAME</span>
          <div class="text">
            <div class="level">
              <span class="span2">1</span>
              <div class="levelbar">--------------------</div>
              <span class="span3">0/100</span>
            </div>
          </div>
        </div>
        <div class="record">
          <p class="p1">Tests Started: <span>1</span></p>
          <p class="p2">Tests Finished: <span>2</span></p>
          <p class="p3">Totls Words: <span>3</span></p>
          <p class="p4">Total Time: <span>4</span></p>
          <p class="p5">Highest WPM: <span>5</span></p>
          <p class="p6">Highest acc: <span>6</span></p>
        </div>
        <div class="tables">
          <table class="table1">
            <tr>
              <th>15s</th>
              <th>30s</th>
              <th>60s</th>
              <th>120s</th>
            </tr>
            <tr>
              <td>WPM</td>
              <td>WPM</td>
              <td>WPM</td>
              <td>WPM</td>
            </tr>
            <tr>
              <td>acc</td>
              <td>acc</td>
              <td>acc</td>
              <td>acc</td>
            </tr>
          </table>
          <table class="table2">
            <tr>
              <th>10W</th>
              <th>25W</th>
              <th>50W</th>
              <th>100W</th>
            </tr>
            <tr>
              <td>WPM</td>
              <td>WPM</td>
              <td>WPM</td>
              <td>WPM</td>
            </tr>
            <tr>
              <td>acc</td>
              <td>acc</td>
              <td>acc</td>
              <td>acc</td>
            </tr>
          </table>
        </div>
        <div class="buttons">
          <button><i class="fa-solid fa-trash"></i>delete account</button>
          <button><i class="fa-solid fa-user-minus"></i>Log out</button>
          <button><i class="fa-solid fa-file-excel"></i>Reset Data</button>
        </div>
      </div>
    </section>