@{
    Layout = "_Layout";
}
@section Styles {
    <link rel="stylesheet" href="~/css/site.css" />
    
}  
@section Layout {
  <link rel="stylesheet" 
href="~/css/Layout.css" asp-append-version="true" />
}

  </section>
    <section class="main">
      <div class="container">
        <div class="controls-line">
          <div class="controls">
            <div class="buttons">
              <button id="punctuation">
                <i class="fas fa-fw fa-at"></i>
                Punctuation
              </button>
              <button id="numbers">
                <i class="fas fa-fw fa-hashtag"></i>
                Numbers
              </button>
              <div class="hr"></div>
              <button id="time-button">
                <i class="fas fa-fw fa-clock"></i>
                Time
              </button>
              <button id="words-button">
                <i class="fas fa-fw fa-font"></i>
                Words
              </button>
              <div class="hr"></div>
              <button class="btn1">10</button>
              <button class="btn2">25</button>
              <button class="btn3">50</button>
              <button class="btn4">100</button>
            </div>
            <div class="mobile-button">
              <i class="fas fa-bars"></i>
              <pre> Controls</pre>
            </div>
          </div>
        </div>
        <div class="typing-area" id="area">
          <span class="typing-lines" id="words"> </span>
        </div>
        <div class="timer" id="timer">
          <p class="timernum">30s</p>
        </div>
        <div class="reset">
          <button>
            <i id="reset-button" class="fas fa-rotate-right"></i>
          </button>
        </div>
      </div>
    </section>
