::-webkit-scrollbar {
  display: none;
}

:root {
  --width: auto-fill;
  --bgcolor: #111111; /* background color */
  --btncolor: #191919; /* background color of a button */
  --dtext: #444444; /* default color of text */
  --text: #eeeeee; /* focused color of text */
}

html {
  font-size: clamp(1rem, 1.8vw, 1.2rem);
  user-select: none;
}

.hr {
  border-left: 5px solid var(--bgcolor);
  height: 40%;
  margin-left: auto-fit;
  margin-right: auto-fit;
  border-radius: 10px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--bgcolor);
  margin: 0;
  padding: 0;
  user-select: none;
  overflow: hidden;
  overflow-x: hidden;
}

.header {
  font-family: "Lexend Deca", sans-serif;
  user-select: none;
  height: 10vh;
  width: 100%;
  color: var(--text);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 4%;
  overflow: hidden;
  overflow-x: hidden;
}

.header div {
  display: flex;
  align-items: center;
  justify-items: center;
}

.header div img {
  width: clamp(50px, 10vw, 80px);
  height: auto;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;
}

.header div img:hover {
  opacity: 0.6;
}

.header div h1 {
  font-size: clamp(25px, 5vw, 40px);
  margin-left: 20px;
  white-space: nowrap;
  overflow: hidden;
  max-width: 0;
  display: flex;
  transition: max-width 0.7s ease-in-out, opacity 0.7s ease-in-out;
  opacity: 0;
}

.header div img:hover + h1 {
  max-width: 500px;
  opacity: 1;
}

@media (max-height: 600px) {
  .header {
    height: auto;
    padding-top: 2%;
    padding-bottom: 2%;
  }
}

.hsbtns {
  padding-top: 12.5px;
  padding-bottom: 12.5px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hsbtns button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0rem;
  font-style: bold;
  border: none;
  background-color: transparent;
  color: var(--dtext);
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
}

.hsbtns .icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.hsbtns button:hover {
  transform: translateZ(0) scale(1.1);
  color: var(--text);
}

.hsbtns button:active {
  transform: scale(0.95);
  color: var(--dtext);
}

.hsbtns .icon-container i {
  pointer-events: none;
  font-size: 1.3rem;
}

.hebtns {
  padding-top: 12.5px;
  padding-bottom: 12.5px;
  /* margin-left: 500px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  justify-self: center; */
  position: absolute;
  right: 4%;
}

.hebtns button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0rem;
  font-style: bold;
  border: none;
  background-color: transparent;
  color: var(--dtext);
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
}

.hebtns .icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.hebtns button:hover {
  transform: translateZ(0) scale(1.1);
  color: var(--text);
}

.hebtns button:active {
  transform: scale(0.95);
  color: var(--dtext);
}

.hebtns .icon-container i {
  pointer-events: none;
  font-size: 1.3rem;
}

.main {
  flex: 1;
}

.container {
  font-family: "Nunito", sans-serif;
  width: 100%;
  display: flex;
  height: 90vh;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-evenly;
  padding: 0rem;
  gap: 1rem;
  overflow-y: auto;
  top: -45px;
}

@media (min-height: 800px) {
  .container {
    gap: 2rem;
  }
}

@media (max-height: 600px) {
  .container {
    justify-content: space-evenly;
    gap: 0.5rem;
  }
}

.controls-line {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: center;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 120px;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

@media (max-height: 600px) {
  .controls {
    flex-direction: column;
    gap: 0.3rem;
  }
}

.controls button {
  padding: 0.1rem 0.7rem;
  font-size: 0.7rem;
}

.mobile-button {
  display: none;
}

@media (max-width: 768px) {
  .controls {
    flex-direction: column;
    align-items: center;
  }

  .controls .buttons,
  .controls .buttons2,
  .controls .buttons3 {
    display: none;
  }

  .controls .mobile-button {
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--width);
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: var(--btncolor);
    color: var(--dtext);
    border-radius: 15vw;
    cursor: pointer;
    text-align: center;
  }
}

.controls *:hover {
  color: var(--text);
  transition: all 0.2s ease-in-out;
  transform: translateZ(0);
}

.controls *:active {
  color: var(--dtext);
}

.controls *.active {
  color: var(--text);
}

.buttons {
  font-size: 0.7rem;
  width: var(--width);
  height: 30px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: var(--btncolor);
  color: var(--dtext);
  display: flex;
  align-items: center;
  border-radius: 15vw;
  justify-content: center;
}

.buttons button,
.buttons2 button,
.buttons3 button {
  cursor: pointer;
  border: none;
  color: var(--dtext);
  background-color: transparent;
}

.buttons *:hover {
  transform: translateZ(0) scale(1.02);
}

.buttons *:active {
  color: var(--dtext);
  transform: scale(0.95);
}

.buttons *.active {
  color: var(--text);
  transform: scale(0.95);
}

/* .timer {
  align-self: baseline;
  align-items: center;
  align-content: center;
  justify-self: center;
  justify-items: center;
  justify-content: center;
  display: flex;
  position: absolute;
  background-color: var(--btncolor);
  color: var(--text);
  width: auto;
  height: 35px;
  padding-left: 1%;
  padding-right: 1%;
  border-style: none;
  border-radius: 2.5vw;
  user-select: none;
  cursor: default;
  z-index: 1;
  margin-right: 86%;
  margin-top: 7%;
  flex-wrap: wrap;
} */

.timer {
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  display: flex;
  width: auto;
  height: 35px;
  padding-left: 1%;
  padding-right: 1%;
  border-style: none;
  border-radius: 2.5vw;
  user-select: none;
  cursor: default;
  z-index: 1;
  background-color: var(--btncolor);
  color: var(--text);
  position: absolute;
  left: 4%;
  margin-top: 6%;
}
.hidden{
  display:none;
}
.typing-area {
  margin-top: 11%;
  background-color: var(--btncolor);
  width: 95vw;
  height: 13vw;
  border-radius: 2.5vw;
  border-style: none;
  display: flex;
  position: absolute;
  align-self: baseline;
  align-items: center;
  cursor: text;
  user-select: none;
  margin-bottom: 5%;
}

@media (max-height: 600px) {
  .typing-area {
    margin-top: 11%;
    height: 6em;
  }
}

.typing-lines {
  padding-left: 0.05rem;
  position: relative;
  overflow: auto;
  height: 100%;
  width: 100%;
  margin-left: 25px;
  margin-right: 25px;
  font-size: 1.8rem;
  color: var(--dtext);
  line-height: normal;
}
.typing-lines.fade {
  animation: fade 0.5s;
}
@keyframes fade {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.reset {
  margin-top: 25%;
  position: absolute;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reset button {
  font-size: clamp(1.2rem, 1.6vw, 1.6rem);
  height: 100%;
  width: 100%;
  border-style: none;
  border-radius: 15vw;
  background-color: transparent;
  align-items: center;
  color: var(--dtext);
  justify-content: center;
  display: flex;
}

.reset button i:hover {
  transform: translateZ(0) scale(1.02);
  color: var(--text);
  cursor: pointer;
}

.reset button i:active {
  color: var(--dtext);
  transform: scale(0.95);
}

.rotate-animation {
  animation: rotate 0.5s ease-in-out;
}

@media (max-width: 768px) {
  .reset {
    width: 2rem;
    height: 2rem;
    margin-top: 34%;
  }

  .typing-area {
    margin-top: 18%;
  }
}

.highlight {
  color: var(--text);
}

.word {
  font-size: 2vw;
  margin: 0.5%;
  display: inline-flex;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#cursor {
  border-radius: 5rem;
  background-color: #eeeeee;
  width: 0.07rem;
  position: absolute; /* Position relative to #words */
  animation: blink 0.8s steps(30) infinite;
  transition: all 0.1s ease; /* Smooth movement */
}

#cursor.no-blink {
  animation: none; /* Stop blinking */
}
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/* letter colors section */
.letter {
  display: inline-block; /* Treat letters as individual blocks */
  position: relative; /* Align cursor correctly */
  margin: 0; /* Prevent unintended spacing */
  padding: 0; /* Prevent unintended spacing */
}
.correct {
  color: #eeeeee;
}
.incorrect {
  color: red;
}
